:root {
    --max-width: 1280px;
    --h-left-game-header-width: 800px;
    --h-game-header-height: 100px;
    --h-game-header-margin-bottom: 20px;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #ffffff;
    width: 100%;
    margin: 0 auto;
}

.header {
    width: 100%;
    max-width: var(--max-width);
    height: 130px;
    border: 1px solid navy;
    margin: 10px auto 0;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.game-header {
    width: 100%;
    max-width: var(--max-width);
}
.middle {
    width: 100%;
    max-width: var(--max-width);
    height: 100%;
    min-height: 700px;
    display: flex;
    justify-content: space-between;
}

.footer {
    width: 100%;
    max-width: var(--max-width);
    height: 150px;
    border: 1px solid black;
    margin-top: 20px;
    background-color: #0097e6;
}

.background-image {
    background-image: url('https://skribbl.io/img/background.png');
}