<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.catpawdogpaw.theartimposter.gameroom.mapper.GameRoomMapper">

    <!-- 방 생성 -->
       <insert id="createGameRoom" parameterType="com.catpawdogpaw.theartimposter.gameroom.model.GameRoom" useGeneratedKeys="true" keyProperty="gameRoomId" keyColumn="game_room_id">
        INSERT INTO gameroom (GAMESETTING_GAME_SETTING_ID, title, created_at, destroy_at)
        VALUES (#{gameSettingId}, #{title}, SYSTIMESTAMP, #{destroyAt, jdbcType=TIMESTAMP})
    </insert>
    
    <!-- 마지막 데이터 id 가져옴 -->
 	<select id="selectLastInsertId" resultType="Long">
        SELECT gameroom_seq.CURRVAL FROM dual
    </select>
    
    <!-- 방 삭제 -->
    <delete id="deleteGameRoom" parameterType="java.lang.Long">
        DELETE FROM gameroom WHERE game_room_id = #{gameRoomId}
    </delete>

    <!-- 방 조회 -->
    <select id="getGameRoomById" resultType="com.catpawdogpaw.theartimposter.gameroom.model.GameRoom">
        SELECT game_room_id AS gameRoomId, 
               GAMESETTING_GAME_SETTING_ID AS gameSettingId, 
               title,
               created_at AS createdAt, 
               destroy_at AS destroyAt
        FROM gameroom
        WHERE game_room_id = #{gameRoomId}
    </select>

	<!-- 모든 방 조회  -->
	<select id="findAllGameRoom" resultType="com.catpawdogpaw.theartimposter.gameroom.model.GameRoom">
    SELECT game_room_id AS gameRoomId, 
           GAMESETTING_GAME_SETTING_ID AS gameSettingId, 
           title,
           created_at AS createdAt, 
           destroy_at AS destroyAt
    FROM gameroom
</select>
	
	
	
	<!-- 방 정보 수정 -->
	<update id="updateGameRoom"  parameterType="com.catpawdogpaw.theartimposter.gameroom.model.GameRoom">
		UPDATE gameroom
	    <set>
	        <if test="gameSettingId != null">GAMESETTING_GAME_SETTING_ID = #{gameSettingId, jdbcType=BIGINT},</if>
	        <if test="title != null">title = #{title, jdbcType=VARCHAR},</if>
	        <if test="createdAt != null">created_at = #{createdAt, jdbcType=TIMESTAMP},</if>
	        <if test="destroyAt != null">destroy_at = #{destroyAt, jdbcType=TIMESTAMP},</if>
	    </set>
    WHERE game_room_id = #{gameRoomId, jdbcType=BIGINT}
	
	</update>
</mapper>
