<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.catpawdogpaw.theartimposter.gameroom.mapper.GameRoomMapper">

    <!-- 방 생성 -->
     <insert id="createGameRoom" parameterType="com.catpawdogpaw.theartimposter.gameroom.model.GameRoom">
        INSERT INTO gameroom (game_setting_id, title, created_at, destroy_at)
        VALUES (#{gameSettingId},#{title}, SYSTIMESTAMP, #{destroyAt})
    </insert>

    <!-- 방 삭제 -->
    <delete id="deleteGameRoom" parameterType="java.lang.Long">
        DELETE FROM gameroom WHERE game_room_id = #{gameRoomId}
    </delete>

    <!-- 방 조회 -->
    <select id="getGameRoomById" resultType="com.catpawdogpaw.theartimposter.gameroom.model.GameRoom">
        SELECT game_room_id AS gameRoomId, 
               game_setting_id AS gameSettingId, 
               title,
               created_at AS createdAt, 
               destroy_at AS destroyAt
        FROM gameroom
        WHERE game_room_id = #{gameRoomId}
    </select>

</mapper>
